/* REGISTRATION */

.checkbox-wrapper {
  padding: 15px 0px 15px 0px;
  border-top: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
}

.checkbox-wrapper input {
  position: relative;
  right: 0px;
}

#registration-finish {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#registration-finish img {
  margin-bottom: 25px;
}

/* PROGRESS */

.page-link {
  color: var(--receiver-color) !important;
  border: none !important;
  background-color: transparent !important;
  padding: 3px;
  font-size: 20px !important;
  cursor: default;
}

#page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-wrapper p {
  margin-right: 10px;
}

/* BG */
#hero_board{
position: absolute;
width: 810px;
height: 641px;
}